.vs/
Thumbs.db
node_modules/
__pycache__/
.env
.vscode/
.DS_Store
desktop.ini
~$*
*.tmp

# Bookshop Automation Software specific ignores
Bookshop-Automation-Software/server/node_modules

# AI-Book-Recommendation-System specific
AI-Book-Recommendation-System/server/.env
